/* Skeleton Tweaks
-------------------------- */
body {
font-family: 'Sanchez', serif;
color: white;
}
section {
  padding: 50px;
}
label {
  margin: 1em 0 .5em 0;
}
a:hover {
  color: white;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
.header {
  padding: 5px 0 40px 0;
}
/* Navigation Styling
---------------------------*/
nav {
  background-color: #000;
  font-size: 1.5em;
}
nav ul{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  margin: 0;
  padding: 30px;
 }
 nav a {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  color: gold;
 }
/* Hero Section
------------------------------------- */
.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/crowd.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  position: relative;
}
.hero-text {
  color: white;
  margin-top: 30%;
}
.social-section {
  padding: 30px;
}
.hero-cta-input {
  width: 350px;
  margin: 0 .5em 5em 0;
  color: black;
}
